# Игнорируем служебные файлы IDE
.idea/
*.iml
*.iws

# Игнорируем скомпилированные файлы
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Игнорируем логи
*.log

# Игнорируем файлы сборки
target/
build/
out/
bin/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем данные PostgreSQL
data/